<?php
/**
 * @access protected
 * @author Judzhin Miles <info[woof-woof]msbios.com>
 */

namespace MSBios\Session;

use MSBios\Session\Initializer\ContainerInitializer;
use MSBios\Session\Initializer\SessionManagerInitializer;
use Zend\ServiceManager\Factory\InvokableFactory;
use Zend\Session\SaveHandler\MongoDB;

return [
    \MSBios\MongoDB\Module::class => [

        \MongoDB\Client::class => [
            /**
             *
             * Expects: string
             * Default: mongodb://127.0.0.1/
             */
            'uri' => 'mongodb://localhost/',

            /**
             *
             * Expects: array
             * Default: []
             */
            'uriOptions' => [
                //...
            ],

            /**
             *
             * Expects: array
             * Default: []
             */
            'driverOptions' => [
                //...
            ]
        ]
    ],

    Module::class => [

        /**
         *
         * Expects: string
         * Default: Zend\Session\Session\SaveHandler\SaveHandlerInterface
         * Examples: [
         *     MSBios\Session\SaveHandler\MongoDB::class
         * ]
         */
        'save_handler' => MongoDB::class,

        /**
         *
         * Expects: array
         */
        'handlers' => [
            MongoDB::class => [
                'database' => 'openpower',
                'collection' => 'some-collection-name'
            ],
        ]

    ]
];
